*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
*.ovpn
vault-demo.ovpn
.Phase-Outline.md
.certs
terraform.lock.hcl
certs/vpn-server-key.pem
certs/vpn-server-cert.pem
certs/vpn-server.csr
terraform.tfstate.backup
vault-demo.ovpn
